<%- include("partials/header") %>

    <body>
        <div id="home">
            <div id="main">
                <div id="loader">
                    <div id="anim">
                        <svg id="meta" width="520" height="108" viewBox="0 0 520 108" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd_1_6)">
                                <mask id="path-1-outside-1_1_6" maskUnits="userSpaceOnUse" x="4.33334" y="0.666668"
                                    width="511" height="99" fill="black">
                                    <rect fill="white" x="4.33334" y="0.666668" width="511" height="99" />
                                    <path
                                        d="M30.4 93H10.3333L16.5333 14.8667H47.8L53.6667 41.0667L56.3333 54.3333L58.8667 41.1333L64.0667 14.8667H91.9333L97.6667 93H76.9333L73.5333 47.0667L72.7333 30.1333L62.5333 85.2H45.1333L32.8667 30.1333L32.4667 47.0667L30.4 93Z" />
                                    <path
                                        d="M134.172 58.5333C134.172 52.8889 133.884 48.8889 133.306 46.5333C132.728 44.1778 131.661 43 130.106 43C128.772 43 127.684 43.2444 126.839 43.7333C125.995 44.1778 125.372 44.9111 124.972 45.9333C124.572 46.9111 124.306 47.9333 124.172 49C124.084 50.0222 124.039 51.3333 124.039 52.9333V58.5333H134.172ZM128.839 94.4C123.861 94.4 119.528 93.6444 115.839 92.1333C112.195 90.6222 109.306 88.5111 107.172 85.8C105.084 83.0889 103.55 80.0444 102.572 76.6667C101.595 73.2444 101.106 69.4444 101.106 65.2667C101.106 55.3111 103.639 47.7778 108.706 42.6667C113.772 37.5556 120.861 35 129.972 35C138.728 35 144.995 37.0667 148.772 41.2C152.55 45.2889 154.439 51.8889 154.439 61V68.4H123.972V69.6667C123.972 72.2889 124.239 74.4444 124.772 76.1333C125.35 77.8222 126.172 79.0667 127.239 79.8667C128.306 80.6667 129.395 81.2 130.506 81.4667C131.617 81.7333 132.972 81.8667 134.572 81.8667C136.128 81.8667 137.795 81.6667 139.572 81.2667C141.395 80.8667 143.217 80.2444 145.039 79.4C146.906 78.5556 148.461 77.5556 149.706 76.4L153.639 83.1333C151.995 85.8 149.572 88.0444 146.372 89.8667C143.217 91.6444 140.172 92.8444 137.239 93.4667C134.306 94.0889 131.506 94.4 128.839 94.4Z" />
                                    <path
                                        d="M177.261 94.4C171.261 94.4 167.061 92.6 164.661 89C162.305 85.4 161.128 79.3111 161.128 70.7333V48.0667H156.528V38.8L164.394 36.3333L171.194 20.8H182.928V36.3333H193.861V48.0667H182.728V72.8667C182.728 76.4222 183.239 78.7778 184.261 79.9333C185.283 81.0889 186.861 81.6667 188.994 81.6667C189.928 81.6667 190.772 81.5556 191.528 81.3333C192.283 81.1111 192.905 80.8 193.394 80.4V89.4667C192.728 90.1333 191.861 90.8 190.794 91.4667C189.728 92.0889 187.95 92.7333 185.461 93.4C183.017 94.0667 180.283 94.4 177.261 94.4Z" />
                                    <path
                                        d="M228.547 87.0667L227.88 87.8C227.436 88.3333 226.747 88.9556 225.814 89.6667C224.925 90.3778 223.88 91.0889 222.68 91.8C221.525 92.5111 220.102 93.1111 218.414 93.6C216.725 94.1333 214.991 94.4 213.214 94.4C201.214 94.4 195.214 88.4667 195.214 76.6C195.214 74.2889 195.636 72.1778 196.48 70.2667C197.325 68.3111 198.414 66.6667 199.747 65.3333C201.08 64 202.68 62.8222 204.547 61.8C206.414 60.7333 208.28 59.9111 210.147 59.3333C212.058 58.7111 214.058 58.2 216.147 57.8C218.236 57.4 220.102 57.1333 221.747 57C223.391 56.8667 224.969 56.8 226.48 56.8V55.6C226.48 52.8889 225.747 50.9778 224.28 49.8667C222.858 48.7556 220.547 48.2 217.347 48.2C214.591 48.2 211.725 48.5333 208.747 49.2C205.769 49.8222 203.436 50.5778 201.747 51.4667L197.48 42.4C200.502 40.4444 204.436 38.7333 209.28 37.2667C214.125 35.7556 219.058 35 224.08 35C228.525 35 232.191 35.4444 235.08 36.3333C237.969 37.1778 240.302 38.6444 242.08 40.7333C243.902 42.7778 245.191 45.4 245.947 48.6C246.702 51.7556 247.08 55.7778 247.08 60.6667V87.8L248.947 93H230.68L228.547 87.0667ZM223.28 82.6667C223.858 82.6667 224.391 82.5556 224.88 82.3333C225.414 82.0667 225.814 81.8222 226.08 81.6C226.347 81.3333 226.48 81.2 226.48 81.2V65.2C223.769 65.2 221.614 65.9556 220.014 67.4667C218.414 68.9333 217.614 71.2222 217.614 74.3333C217.614 79.8889 219.502 82.6667 223.28 82.6667Z" />
                                    <path
                                        d="M278.14 94.4C274.717 94.4 271.517 94.0889 268.54 93.4667C265.606 92.8889 263.14 92.1111 261.14 91.1333C259.14 90.1555 257.495 89.2222 256.206 88.3333C254.962 87.4445 253.917 86.5556 253.073 85.6667L254.74 69.4667C256.562 71.9111 259.006 74.0444 262.073 75.8667C265.14 77.6444 268.451 78.5333 272.006 78.5333C275.562 78.5333 278.117 78.1556 279.673 77.4C281.273 76.6444 282.073 75.2667 282.073 73.2667C282.073 71.1333 281.162 69.3111 279.34 67.8C277.562 66.2889 274.473 64.4667 270.073 62.3333C268.473 61.5333 267.117 60.8222 266.006 60.2C264.895 59.5333 263.406 58.4667 261.54 57C259.717 55.4889 258.228 53.9333 257.073 52.3333C255.917 50.6889 254.895 48.6 254.006 46.0667C253.117 43.4889 252.673 40.7333 252.673 37.8C252.673 21.9333 261.628 14 279.54 14C282.384 14 285.051 14.3111 287.54 14.9333C290.073 15.5111 292.051 16.1556 293.473 16.8667C294.895 17.5778 296.184 18.4222 297.34 19.4C298.54 20.3333 299.295 21 299.606 21.4C299.917 21.7556 300.14 22.0444 300.273 22.2667L296.94 35.1333C295.206 33.0889 293.028 31.5778 290.406 30.6C287.828 29.5778 285.362 29.0667 283.006 29.0667C277.317 29.0667 274.473 30.8444 274.473 34.4C274.473 35.3333 274.651 36.1778 275.006 36.9333C275.362 37.6889 275.94 38.3778 276.74 39C277.54 39.6222 278.273 40.1556 278.94 40.6C279.651 41.0444 280.606 41.6 281.806 42.2667C283.051 42.8889 283.984 43.4 284.606 43.8C291.095 46.5556 295.851 49.8222 298.873 53.6C301.94 57.3778 303.473 61.9778 303.473 67.4C303.473 76.2 301.295 82.9111 296.94 87.5333C292.628 92.1111 286.362 94.4 278.14 94.4Z" />
                                    <path
                                        d="M338.07 86.4C340.026 86.4 341.515 85.6 342.537 84C343.604 82.3556 344.137 80.1111 344.137 77.2667V56.2C344.137 47.5333 342.093 43.2 338.004 43.2C336.093 43.2 334.604 43.9778 333.537 45.5333C332.47 47.0889 331.937 49.2889 331.937 52.1333V73.8C331.937 82.2 333.981 86.4 338.07 86.4ZM337.537 94.4C327.359 94.4 319.915 92.0889 315.204 87.4667C310.493 82.8444 308.137 75.4667 308.137 65.3333C308.137 55.2889 310.515 47.7333 315.27 42.6667C320.026 37.5556 327.759 35 338.47 35C348.915 35 356.448 37.4444 361.07 42.3333C365.737 47.1778 368.07 54.5333 368.07 64.4C368.07 74.6222 365.604 82.1778 360.67 87.0667C355.781 91.9556 348.07 94.4 337.537 94.4Z" />
                                    <path d="M374.599 93V17.6L370.599 15.2V9L391.999 5.66667H396.333V93H374.599Z" />
                                    <path
                                        d="M418.149 93L398.549 36.3333H422.482L426.749 56.8L429.816 74.4667L433.216 56.8L438.149 36.3333H456.149L439.149 93H418.149Z" />
                                    <path
                                        d="M489.836 58.5333C489.836 52.8889 489.548 48.8889 488.97 46.5333C488.392 44.1778 487.325 43 485.77 43C484.436 43 483.348 43.2444 482.503 43.7333C481.659 44.1778 481.036 44.9111 480.636 45.9333C480.236 46.9111 479.97 47.9333 479.836 49C479.748 50.0222 479.703 51.3333 479.703 52.9333V58.5333H489.836ZM484.503 94.4C479.525 94.4 475.192 93.6444 471.503 92.1333C467.859 90.6222 464.97 88.5111 462.836 85.8C460.748 83.0889 459.214 80.0444 458.236 76.6667C457.259 73.2444 456.77 69.4444 456.77 65.2667C456.77 55.3111 459.303 47.7778 464.37 42.6667C469.436 37.5556 476.525 35 485.636 35C494.392 35 500.659 37.0667 504.436 41.2C508.214 45.2889 510.103 51.8889 510.103 61V68.4H479.636V69.6667C479.636 72.2889 479.903 74.4444 480.436 76.1333C481.014 77.8222 481.836 79.0667 482.903 79.8667C483.97 80.6667 485.059 81.2 486.17 81.4667C487.281 81.7333 488.636 81.8667 490.236 81.8667C491.792 81.8667 493.459 81.6667 495.236 81.2667C497.059 80.8667 498.881 80.2444 500.703 79.4C502.57 78.5556 504.125 77.5556 505.37 76.4L509.303 83.1333C507.659 85.8 505.236 88.0444 502.036 89.8667C498.881 91.6444 495.836 92.8444 492.903 93.4667C489.97 94.0889 487.17 94.4 484.503 94.4Z" />
                                </mask>
                                <path
                                    d="M30.4 93H10.3333L16.5333 14.8667H47.8L53.6667 41.0667L56.3333 54.3333L58.8667 41.1333L64.0667 14.8667H91.9333L97.6667 93H76.9333L73.5333 47.0667L72.7333 30.1333L62.5333 85.2H45.1333L32.8667 30.1333L32.4667 47.0667L30.4 93Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M134.172 58.5333C134.172 52.8889 133.884 48.8889 133.306 46.5333C132.728 44.1778 131.661 43 130.106 43C128.772 43 127.684 43.2444 126.839 43.7333C125.995 44.1778 125.372 44.9111 124.972 45.9333C124.572 46.9111 124.306 47.9333 124.172 49C124.084 50.0222 124.039 51.3333 124.039 52.9333V58.5333H134.172ZM128.839 94.4C123.861 94.4 119.528 93.6444 115.839 92.1333C112.195 90.6222 109.306 88.5111 107.172 85.8C105.084 83.0889 103.55 80.0444 102.572 76.6667C101.595 73.2444 101.106 69.4444 101.106 65.2667C101.106 55.3111 103.639 47.7778 108.706 42.6667C113.772 37.5556 120.861 35 129.972 35C138.728 35 144.995 37.0667 148.772 41.2C152.55 45.2889 154.439 51.8889 154.439 61V68.4H123.972V69.6667C123.972 72.2889 124.239 74.4444 124.772 76.1333C125.35 77.8222 126.172 79.0667 127.239 79.8667C128.306 80.6667 129.395 81.2 130.506 81.4667C131.617 81.7333 132.972 81.8667 134.572 81.8667C136.128 81.8667 137.795 81.6667 139.572 81.2667C141.395 80.8667 143.217 80.2444 145.039 79.4C146.906 78.5556 148.461 77.5556 149.706 76.4L153.639 83.1333C151.995 85.8 149.572 88.0444 146.372 89.8667C143.217 91.6444 140.172 92.8444 137.239 93.4667C134.306 94.0889 131.506 94.4 128.839 94.4Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M177.261 94.4C171.261 94.4 167.061 92.6 164.661 89C162.305 85.4 161.128 79.3111 161.128 70.7333V48.0667H156.528V38.8L164.394 36.3333L171.194 20.8H182.928V36.3333H193.861V48.0667H182.728V72.8667C182.728 76.4222 183.239 78.7778 184.261 79.9333C185.283 81.0889 186.861 81.6667 188.994 81.6667C189.928 81.6667 190.772 81.5556 191.528 81.3333C192.283 81.1111 192.905 80.8 193.394 80.4V89.4667C192.728 90.1333 191.861 90.8 190.794 91.4667C189.728 92.0889 187.95 92.7333 185.461 93.4C183.017 94.0667 180.283 94.4 177.261 94.4Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M228.547 87.0667L227.88 87.8C227.436 88.3333 226.747 88.9556 225.814 89.6667C224.925 90.3778 223.88 91.0889 222.68 91.8C221.525 92.5111 220.102 93.1111 218.414 93.6C216.725 94.1333 214.991 94.4 213.214 94.4C201.214 94.4 195.214 88.4667 195.214 76.6C195.214 74.2889 195.636 72.1778 196.48 70.2667C197.325 68.3111 198.414 66.6667 199.747 65.3333C201.08 64 202.68 62.8222 204.547 61.8C206.414 60.7333 208.28 59.9111 210.147 59.3333C212.058 58.7111 214.058 58.2 216.147 57.8C218.236 57.4 220.102 57.1333 221.747 57C223.391 56.8667 224.969 56.8 226.48 56.8V55.6C226.48 52.8889 225.747 50.9778 224.28 49.8667C222.858 48.7556 220.547 48.2 217.347 48.2C214.591 48.2 211.725 48.5333 208.747 49.2C205.769 49.8222 203.436 50.5778 201.747 51.4667L197.48 42.4C200.502 40.4444 204.436 38.7333 209.28 37.2667C214.125 35.7556 219.058 35 224.08 35C228.525 35 232.191 35.4444 235.08 36.3333C237.969 37.1778 240.302 38.6444 242.08 40.7333C243.902 42.7778 245.191 45.4 245.947 48.6C246.702 51.7556 247.08 55.7778 247.08 60.6667V87.8L248.947 93H230.68L228.547 87.0667ZM223.28 82.6667C223.858 82.6667 224.391 82.5556 224.88 82.3333C225.414 82.0667 225.814 81.8222 226.08 81.6C226.347 81.3333 226.48 81.2 226.48 81.2V65.2C223.769 65.2 221.614 65.9556 220.014 67.4667C218.414 68.9333 217.614 71.2222 217.614 74.3333C217.614 79.8889 219.502 82.6667 223.28 82.6667Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M278.14 94.4C274.717 94.4 271.517 94.0889 268.54 93.4667C265.606 92.8889 263.14 92.1111 261.14 91.1333C259.14 90.1555 257.495 89.2222 256.206 88.3333C254.962 87.4445 253.917 86.5556 253.073 85.6667L254.74 69.4667C256.562 71.9111 259.006 74.0444 262.073 75.8667C265.14 77.6444 268.451 78.5333 272.006 78.5333C275.562 78.5333 278.117 78.1556 279.673 77.4C281.273 76.6444 282.073 75.2667 282.073 73.2667C282.073 71.1333 281.162 69.3111 279.34 67.8C277.562 66.2889 274.473 64.4667 270.073 62.3333C268.473 61.5333 267.117 60.8222 266.006 60.2C264.895 59.5333 263.406 58.4667 261.54 57C259.717 55.4889 258.228 53.9333 257.073 52.3333C255.917 50.6889 254.895 48.6 254.006 46.0667C253.117 43.4889 252.673 40.7333 252.673 37.8C252.673 21.9333 261.628 14 279.54 14C282.384 14 285.051 14.3111 287.54 14.9333C290.073 15.5111 292.051 16.1556 293.473 16.8667C294.895 17.5778 296.184 18.4222 297.34 19.4C298.54 20.3333 299.295 21 299.606 21.4C299.917 21.7556 300.14 22.0444 300.273 22.2667L296.94 35.1333C295.206 33.0889 293.028 31.5778 290.406 30.6C287.828 29.5778 285.362 29.0667 283.006 29.0667C277.317 29.0667 274.473 30.8444 274.473 34.4C274.473 35.3333 274.651 36.1778 275.006 36.9333C275.362 37.6889 275.94 38.3778 276.74 39C277.54 39.6222 278.273 40.1556 278.94 40.6C279.651 41.0444 280.606 41.6 281.806 42.2667C283.051 42.8889 283.984 43.4 284.606 43.8C291.095 46.5556 295.851 49.8222 298.873 53.6C301.94 57.3778 303.473 61.9778 303.473 67.4C303.473 76.2 301.295 82.9111 296.94 87.5333C292.628 92.1111 286.362 94.4 278.14 94.4Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M338.07 86.4C340.026 86.4 341.515 85.6 342.537 84C343.604 82.3556 344.137 80.1111 344.137 77.2667V56.2C344.137 47.5333 342.093 43.2 338.004 43.2C336.093 43.2 334.604 43.9778 333.537 45.5333C332.47 47.0889 331.937 49.2889 331.937 52.1333V73.8C331.937 82.2 333.981 86.4 338.07 86.4ZM337.537 94.4C327.359 94.4 319.915 92.0889 315.204 87.4667C310.493 82.8444 308.137 75.4667 308.137 65.3333C308.137 55.2889 310.515 47.7333 315.27 42.6667C320.026 37.5556 327.759 35 338.47 35C348.915 35 356.448 37.4444 361.07 42.3333C365.737 47.1778 368.07 54.5333 368.07 64.4C368.07 74.6222 365.604 82.1778 360.67 87.0667C355.781 91.9556 348.07 94.4 337.537 94.4Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path d="M374.599 93V17.6L370.599 15.2V9L391.999 5.66667H396.333V93H374.599Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M418.149 93L398.549 36.3333H422.482L426.749 56.8L429.816 74.4667L433.216 56.8L438.149 36.3333H456.149L439.149 93H418.149Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                                <path
                                    d="M489.836 58.5333C489.836 52.8889 489.548 48.8889 488.97 46.5333C488.392 44.1778 487.325 43 485.77 43C484.436 43 483.348 43.2444 482.503 43.7333C481.659 44.1778 481.036 44.9111 480.636 45.9333C480.236 46.9111 479.97 47.9333 479.836 49C479.748 50.0222 479.703 51.3333 479.703 52.9333V58.5333H489.836ZM484.503 94.4C479.525 94.4 475.192 93.6444 471.503 92.1333C467.859 90.6222 464.97 88.5111 462.836 85.8C460.748 83.0889 459.214 80.0444 458.236 76.6667C457.259 73.2444 456.77 69.4444 456.77 65.2667C456.77 55.3111 459.303 47.7778 464.37 42.6667C469.436 37.5556 476.525 35 485.636 35C494.392 35 500.659 37.0667 504.436 41.2C508.214 45.2889 510.103 51.8889 510.103 61V68.4H479.636V69.6667C479.636 72.2889 479.903 74.4444 480.436 76.1333C481.014 77.8222 481.836 79.0667 482.903 79.8667C483.97 80.6667 485.059 81.2 486.17 81.4667C487.281 81.7333 488.636 81.8667 490.236 81.8667C491.792 81.8667 493.459 81.6667 495.236 81.2667C497.059 80.8667 498.881 80.2444 500.703 79.4C502.57 78.5556 504.125 77.5556 505.37 76.4L509.303 83.1333C507.659 85.8 505.236 88.0444 502.036 89.8667C498.881 91.6444 495.836 92.8444 492.903 93.4667C489.97 94.0889 487.17 94.4 484.503 94.4Z"
                                    stroke="white" stroke-width="10" shape-rendering="crispEdges"
                                    mask="url(#path-1-outside-1_1_6)" />
                            </g>
                            <defs>
                                <filter id="filter0_dd_1_6" x="0.92086" y="0.666668" width="518.214" height="106.733"
                                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feComposite in2="hardAlpha" operator="out" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_6" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feComposite in2="hardAlpha" operator="out" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow_1_6"
                                        result="effect2_dropShadow_1_6" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1_6"
                                        result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <div id="ldi">
                            <p>Let's do it !</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mainpg">
                <%- include("partials/nav") %>
                    <div id="intro">
                        <img id="logo" src="images/himanshu.jfif" alt=""> <br>
                        <h1>Unleash your <br> Potential with <br><span class="heading">MetaSolve !</span></h1><br><br>
                        <button class="btn"><a href="hiringPage.ejs">Discover Solutions</a> </button>
                    </div>
            </div>

        </div>
        <!-- 9999999999999999999999999999999999999999999999 I N T R O _____________________ -->
        <div class="introduction">
            <img id='mainImg' src="images/b9e4960c1476c78043d499d975f86cdb.gif" alt="">
            <div id="inthead">
                <h1>Who Are WE ?</h1><br>
                <p>Introducing MetaSolve, where we unlock the power of innovation and problem-solving. We are a dynamic
                    startup driven by the belief that every challenge holds within it an opportunity for growth. At
                    MetaSolve, we specialize in providing cutting-edge solutions that address complex problems across
                    various industries. Our team of talented professionals is passionate about leveraging the latest
                    technologies and methodologies to deliver transformative results.</p>
                <p><br>
                    Whether it's optimizing processes,
                    developing innovative software solutions, or providing strategic consulting, we are dedicated to
                    helping
                    our clients thrive in an ever-evolving business landscape. Join us on this journey of discovery and
                    let's unlock the true potential of your organization together. MetaSolve - Solving problems,
                    transforming businesses.
                </p>
                <button class="btnn"><a href="hiringPage.ejs">know more</a></button>
            </div>
        </div>

        <!-- *************************About***************** -->
        <div id="about">
            <div class="abt">
                <div class="abouttext">
                    <h2>Building Dreams,<br> Fueling Innovation</h2>
                    <p>Empower your business with MetaSolve’s exclusive services. We take startups and established
                        companies
                        alike
                        to new heights, by offering cutting-edge solutions and expert insights.</p><br>
                    <a href="hiringPage.ejs">know more</a>
                </div>

                <div class="abtimg">
                    <img src="images/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg" alt="">
                </div>
            </div>

            <div class="abt" id="abt2">
                <div class="abtimg">
                    <img src="images/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
                </div>
                <div class="abouttext">
                    <h2>Revolutionize Your <br> Startup Journey</h2>
                    <p>MetaSolve empowers startups with tailored assistance, strategic guidance, and a vast network of
                        resources. Backed by experienced professionals, MetaSolve helps startups overcome challenges and
                        achieve
                        their goals. From technical expertise to funding connections, MetaSolve provides the necessary
                        support
                        to bring startup visions to life. </p><br>
                    <a href="hiringPage.ejs">know more</a>
                </div>
            </div>
        </div>
        <!-- __________________________Statistics________________________ -->
        <div class="stat">
            <div class="sub-stat">
                <h3>200+</h3>
                <h4>Projects</h4>
            </div>
            <div class="sub-stat">
                <h3>50+</h3>
                <h4>Clients</h4>
            </div>
            <div class="sub-stat">
                <h3>20+</h3>
                <h4>Team Members</h4>
            </div>
        </div>
        <div id="hire">
            <button id="sec"><a href="hiringPage.ejs">know more</a></button>
        </div>
        <!-- __________________________Internship________________________ -->
        <div class="int">
            <h2>We Are Hiring !!</h2>
            <h3>Ready to dive into the internship sea? Explore options that’ll make you go whee !</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, distinctio explicabo. Architecto,
                suscipit
                beatae! Fuga eveniet cumque temporibus quis tempora possimus maxime!</p> <br>

            <div id="int-cont">
                <a href="internship.ejs">
                    <div class="cont">
                        <img class="intimg" src="images/himanshu.jfif" alt="">
                        <div class="int-name">
                            <h4>UI/UX Designing</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
                
                <a href="internship.ejs">
                    <div class="cont">
                        <div class="circle">
                            <img class="intimg" src="images/wired-lineal-680-it-developer.gif" alt="">
                        </div>
                        <div class="int-name">
                            <h4>WEB DEVELOPMENT</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>

                <a href="internship.ejs">
                    <div class="cont">
                        <img class="intimg" src="images/himanshu.jfif" alt="">
                        <div class="int-name">
                            <h4>GRAPHIC DESIGNING</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>

                <a href="internship.ejs">
                    <div class="cont">
                        <img class="intimg" src="images/himanshu.jfif" alt="">
                        <div class="int-name">
                            <h4>WEB DEVELOPMENT</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>

                <a href="internship.ejs">
                    <div class="cont">
                        <img class="intimg" src="images/himanshu.jfif" alt="">
                        <div class="int-name">
                            <h4>WEB DEVELOPMENT</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>

                <a href="internship.ejs">
                    <div class="cont">
                        <img class="intimg" src="images/himanshu.jfif" alt="">
                        <div class="int-name">
                            <h4>WEB DEVELOPMENT</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>

            </div>
        </div>
        <!-- -------------------CONTACT--------------=============================-- -->
        <div id="contact">
            <div class="container">
                <h2 class="subtitle imp trt">Contact </h2>
                <div class="row" id="form">
                    <div class="contact-left">
                        <p>Whether you have a question about our products, need assistance, or simply want to share your
                            thoughts, our
                            contact form is your direct gateway to reach us. We value your feedback and prioritize your
                            queries, so rest assured that our team will respond promptly to any message you send. Join
                            us on
                            this exciting journey, and let's build something amazing together!</p>
                        <br>
                        <p class="info"><i class="fa-solid fa-phone an"></i> 9302019826</p>
                        <p class="info"><i class="fa-sharp fa-solid fa-paper-plane an"></i> himanshuramaria@gmail.com
                        </p>
                        <p class="info"><i class="fa-sharp fa-solid fa-location-dot an"></i>Madhuban Homes
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Shiv Dham colony <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rajgarh (Biaora) M.P
                        </p>
                        <div class="social-icons" id="fsi">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://instagram.com/himanshu_ramaria?igshid=NTE5MzUyOTU="><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="www.linkedin.com/in/himanshu-ramaria"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <a href="mailto:himanshuramaria@gmail.com" class="btn btn-d">Say Hello!</a>
                        <br><br><br>
                    </div>
                    <div class="contact-right">
                        <form name="submit-to-google-sheet">
                            <input type="text" name="Name" placeholder="Your Name" required>
                            <input type="email" name="email" id="" placeholder="Your Email" required>
                            <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                            <button type="submit" class="btn-s btn2">Submit</button>
                        </form>
                        <span id="msg"></span>
                    </div>

                </div>
            </div>
        </div>
        <%- include("partials/footer") %>
        <section id="msg">
            <i class="fa-solid fa-xmark"></i>
            <h1>ATTENTION !</h1>
            <p>MetaSolve is hiring interns <br><br>Take the Leap and Join Our <br> Innovative Internship Program!</p>
            <img src="images/atten.png" alt="">

            <button class="grab">Grab Now</button>
        </section>
    </body>

    </html>