<nav>
    <ul>
        <li><a href="#" onclick="opentpp()" class="si"><i class="fa-beat-fade fa-solid fa-envelope"></i></a>
            <a href="https://www.instagram.com/metasolve.in/" target="_blank" class="si"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="si"><i class="fa-solid fa-user"></i></a>
            <a href="#contact" class="si"><i class="fa-solid fa-phone"></i></a>
            <a href="#" class="si"><i class="fa-solid fa-earth-americas"></i></a>
            <!-- <a href="#" class="si"><i class="fa-solid fa-arrow-right"></i></a> -->

        </li>
    </ul>
</nav>

