<section id="msg">
    <a onclick="closetpp()"><i class="fa-solid fa-xmark"></i></a>
    <h1>ATTENTION !</h1>
    <p>MetaSolve is hiring interns <br><br>Take the Leap and Join Our <br> Innovative Internship Program!</p>
    <img src="images/atten.png" alt="">
    
    <button class="grab" onclick="closetpp()"><a href="#internship">Grab Now</a></button>
</section>


